.channelRow {
  display: flex;
  width: 70%;
  color: white;
  align-items: center;
}


.channelRow__text > p {
  color: #606060;
  font-size: small !important;
}

.channelRow__logo {
  width: 120px !important;
  margin: 10px 60px;
  height: 120px !important;
}

.channelRow__text > h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
