.searchPage {
  flex: 0.82;
  padding: 20px 20px;
}
.searchPage__filter {
  color: #606060;
  /* margin-left: 20px; */
  display: flex;
  font-size: xx-small !important;
  align-items: center;
}

.searchPage__filter > h2 {
  margin-left: 10px;
  color: #606060;
}

.searchPage > hr {
  height: 1px;
  border: 0;
  background-color: #383838;
  margin-top: 10px;
  margin-bottom: 10px;
}
