.sidebar {
  flex: 0.18;
  min-height: 100vh;
  background-color: #222222;
  color: white;
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: #383838;
  margin-top: 10px;
  margin-bottom: 10px;
}
